repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: mixed-line-ending
    - id: check-merge-conflict
    - id: check-symlinks
    - id: check-executables-have-shebangs
    - id: check-json
    - id: check-yaml
    - id: check-toml

- repo: https://github.com/markdownlint/markdownlint
  rev: v0.8.0
  hooks:
    - id: markdownlint

- repo: https://github.com/asottile/pyupgrade
  rev: v1.25.2
  hooks:
    - id: pyupgrade
      args: [--py36-plus]

- repo: https://github.com/asottile/seed-isort-config
  rev: v1.9.4
  hooks:
    - id: seed-isort-config
      args: [--application-directories=src/]
      exclude: ^tests/.*$|^example/.*$

- repo: https://github.com/timothycrosley/isort
  rev: 4.3.21
  hooks:
    - id: isort
      additional_dependencies: ["isort[pyproject]"]

- repo: https://github.com/PyCQA/bandit
  rev: 1.6.2
  hooks:
    - id: bandit
      args: [--verbose, --ini, .bandit, -ll, --recursive, src/]

- repo: https://github.com/psf/black
  rev: 19.10b0
  hooks:
    - id: black

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.761
  hooks:
    - id: mypy

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
    - id: debug-statements
    - id: name-tests-test
      args: [--django]
      exclude: ^tests/helpers/.*$
    - id: check-docstring-first
    - id: flake8
      additional_dependencies: [flake8-bugbear]
